{% extends 'cwiz/layouts/layout' %}

{% set title = 'Submissions' | t('form-builder') %}
{% set bodyClass = 'cwiz cwiz-submissions' %}
{% set selectedSubnavItem = 'submissions' %}

{% set context = 'index' %}

{% set crumbs = [
    { label: craft.cwiz.getPluginName(), url: url('cwiz') },
    { label: 'Submissions' | t('cwiz'), url: url('cwiz/submissions') },
] %}

{% block content %}
    <p>Access to this module has been denied. Please enable 'View submissions' permission</p>
{% endblock %}